@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 254, 255);
}

.loveBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: 20px;
}

.loveButtonBlock {
  display: flex;
  gap: 20px;
  min-width: 200px;
  justify-content: space-between;
  position: relative;
}

.loveButton {
  padding: 10px 10px;
  min-width: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

img {
  display: block;
}

.yes {
  background-color: #8dca13;
  position: relative;
  z-index: 10;
}

.no {
  background-color: #ff414e;
}

.loveTitle {
  color: rgb(255, 88, 116);
}

h1 {
  text-align: center;
}

.license {
  color: rgb(32, 32, 32);
  font-size: 18px;
  font-weight: 400;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: default;
  display: block;
}

a {
  text-decoration: none;
  color: rgb(42, 42, 42);
  padding-bottom: 20px;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

@media (max-width: 400px) {
  h1 {
    max-width: 250px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
